// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #65CB4B;
$skinHeaderBck: #003632;
$panelHeaderBck: #003632;
$skinLogo: image_url("admin_logo.png") no-repeat 0 0;

@import "active_skin";

h1.dashboard_ph {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.dashboard_ph.good {
  color: #1E8449;
}

.dashboard_ph.average {
  color: #F1C40F;
}

.dashboard_ph.bad {
  color: #C0392B;
}

.dashboard_ph_container {
  display: flex;

  .dashboard_ph_color_legend {
    flex-grow: 3;
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      justify-content: flex-start;
    }

    span:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      border-radius: 4px;
    }

    .good:before {
       background: #1E8449;
    }

    .average:before {
      background: #F1C40F;
    }

    .bad:before {
      background: #C0392B;
    }
  }

  .dashboard_ph_date {
    flex-grow: 1;
    text-align: end;

    small {
      font-weight: bold;
    }
  }

}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
